<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css"/>
        <title>Title</title>
    </head>
    <body>
        <h1>Hello World !</h1>
        <form action='/firstpage' method='post'>
            <p>Prénom : <input type="text" name="firstname" /></p>
            <p>Nom : <input type="text" name="name" /></p>
            <input type ="submit" value="Envoyer"/>
        </form>

    </body>
</html>